<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936525366271-i3uuc1k5v706tov3gefbvju71rkhs6fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936525366271-i3uuc1k5v706tov3gefbvju71rkhs6fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkV8xFsqkVW-pfcNa269PP4wlDVzNQ2k</string>
	<key>GCM_SENDER_ID</key>
	<string>936525366271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevelopNetwork.AlloDoctor</string>
	<key>PROJECT_ID</key>
	<string>allodoctor-d4515</string>
	<key>STORAGE_BUCKET</key>
	<string>allodoctor-d4515.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936525366271:ios:921d4236ea40a9fff41dca</string>
	<key>DATABASE_URL</key>
	<string>https://allodoctor-d4515-default-rtdb.firebaseio.com</string>
</dict>
</plist>